<app-content>

   
  <html>
    <body>
      <p>วิชา</p>
      <input type="text" id="subject" />
      <p>หน่วยกิต</p>
      <select id="credit">
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
        <option value="3.5">3.5</option>
        <option value="4">4</option>
      </select>
      <p>เกรด</p>
      <select id="grade">
        <option value="4">4</option>
        <option value="3.5">3.5</option>
        <option value="3">3</option>
        <option value="2.5">2.5</option>
        <option value="2">2</option>
        <option value="1.5">1.5</option>
        <option value="1">1</option>
        <option value="0">0</option>
      </select>
      <br /><br />
  <button type="button" onclick="btsubmit()">Submit</button><br /><br />
      <div id="mytable" style="display: none">
        <table>
          <thead>
            <th>วิชา</th>
            <th>หน่วยกิต</th>
            <th>เกรด</th>
          </thead>
          <tbody id="tble"></tbody>
          <footer>
            <tr>
              <td>รวม</td>
              <td id="result" style="text-align: center"></td>
              <td id="gpax" style="text-align: center" style="color: blue"></td>
            </tr>
          </footer>
        </table>
      </div>
  <script>
        var DataList = [];
        var result = 0;
        var gpa = 0;
        function btsubmit() {
          DataList = [];
          document.getElementById("mytable").style.display = "block";
          var subject = document.getElementById("subject").value;
          var credit = document.getElementById("credit").value;
          var grade = document.getElementById("grade").value;
          var data = {
            subJect: subject,
            creDit: credit,
            Grade: grade,
          };
          DataList.push(data);
  for (let i = 0; i < DataList.length; i++) {
            result += parseFloat(DataList[i].creDit);
            gpa += parseFloat(DataList[i].Grade) * parseFloat(DataList[i].creDit);
  document.getElementById("result").innerHTML = result;
  document.getElementById("gpax").innerHTML = (gpa / result).toFixed(2);
  document.getElementById("tble").innerHTML +=
              "<tr>" + "<td>" +
              DataList[i].subJect +
              "</td>" +
              "<td>" +
              DataList[i].creDit +
              "</td>" +
              "<td>" +
              DataList[i].Grade +
              "</td>" +"</tr>";
          }
        }
      </script>
    </body>
  <style>
      td {
        text-align: center;
      }
    </style>
  </html>
      
  
</app-content>
