td {
    text-align: center;
    vertical-align: middle;
  }
  .sizeeeee{
      position: absolute;
      max-width: auto;
      background-color: #fec87c;
  }
  .radius {
    border-radius: 4px;
    background: rgb(84, 83, 83);
    color: white;
  }

  .bgGray{
    background-color: #ededed;
    }
    .radius {
      border-radius: 4px;
      background: #898989;
      color: white;
    }
    
  