<app-content>
  <div class="sizeeeee">
    <br />
    <br />
    <br />
    <br />
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </div>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        <br />
        ทีมของเรา<br />
        ทีมของเรา > แก้ไขข้อมูลทีมของเรา
      </div>
      <div class="col align-self-center"></div>
      <div class="col align-self-end" align="right"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 align-self-center">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <form>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="form-label">รูปภาพ</label>
                      <div class="mb-3">
                        <label>
                          <div class="container">
                            <div
                              class="row justify-content-md-center"
                              align="center"
                            >
                              <img
                                class="img-thumbnail"
                                src="../../../../../../assets/img/BG-WEB-Gray.jpg"
                                style="height: 300px; width: 335px"
                                *ngIf="previewLoaded == false; hidden"
                              />
                              <div
                                class="bgGray"
                                *ngIf="previewLoaded == true; hidden"
                              >
                                <img
                                  *ngIf="previewLoaded"
                                  class="img-thumbnail mx-auto d-block"
                                  [src]="file"
                                  style="height: 300px; width: auto"
                                />
                              </div>
                              <div class="radius">เพิ่มรูปภาพ</div>
                            </div>
                            <div
                              class="row justify-content-md-center"
                              align="center"
                            >
                              &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                              &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                              &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                              &nbsp;&nbsp; &nbsp; &nbsp;
                            </div>
                          </div>

                          <div className="imageupload">
                            <input
                              type="file"
                              name="imageupload"
                              id="fileUpload"
                              multiple
                              hidden
                            />
                          </div>
                        </label>
                      </div>
                      <div class="col-md-12">
                        <div class="row"></div>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                      <div class="mb-3">
                        <label>ชื่อ</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="First name"
                          aria-label="First name"
                          formControlName="employee_firstname"
                        />
                      </div>
                      <br />
                      <div class="mb-3">
                        <label>นามสกุล</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Last name"
                          aria-label="Last name"
                          formControlName="employee_lastname"
                        />
                      </div>
                      <br />
                      <div class="mb-3">
                        <label>ตำแหน่ง</label>
                        <select
                          class="form-select"
                          formControlName="service_id"
                        >
                          <option selected>เลือกตำแหน่ง</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <br />
                      <div class="mb-3">
                        <label>MBTI</label>
                        <select
                          class="form-select"
                          formControlName="service_id"
                        >
                          <option selected>เลือกตำแหน่ง</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <br /><br /><br />
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-8">
                            <button
                              type="button"
                              class="btn btn-danger elevation-1"
                              data-bs-toggle="modal"
                              data-bs-target="#delEmp"
                            >
                              ลบข้อมูล
                            </button>
                          </div>
                          <div class="col-md-4">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <button
                              type="button"
                              class="btn btn-light elevation-1"
                              data-dismiss="modal"
                              aria-label="Close"
                              (click)="ngOnInit()"
                            >
                              คืนค่า
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button
                              class="btn btn-warning elevation-1"
                              type="submit"
                              value="Submit"
                            >
                              บันทึก
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
<div
  class="modal fade"
  id="delEmp"
  tabindex="-1"
  aria-labelledby="delEmp"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" align="center">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="ngOnInit()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <br /><br />
        <div class="modal-body" >
          คุณต้องการลบข้อมูล ///// หรือไม่?
        </div>
        <br />
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <button
              type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
            >
              ยกเลิก
            </button>
          </div>
          <div class="col-md-3">
            <button
              type="button"
              class="btn btn-warning"
              data-bs-dismiss="modal"
            >
              ยืนยัน
            </button>
          </div>
          <div class="col-md-3"></div>
        </div>
        <br /><br />
      </div>
    </div>
  </div>
</div>

