<app-content>
  <div class="relative">
    <div class="sizeeeee"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        <br />
        <h4 class="textHeadPage"><b>เกียวกับเรา</b></h4>
        <h6 class="textHeadPage">เกียวกับเรา ></h6>
      </div>
      <div class="col align-self-center"></div>
      <div class="col align-self-end" align="right"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 align-self-center">
        <div class="card">
          <div class="card-body">
            <div class="row-md-12">
              <form>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 bg">
                      <form [formGroup]="myForm">
                        <div class="form-group">
                          <label for="file">รูปภาพเกี่ยวกับเรา</label>
                          <div>
                            <label>
                              <div class="container">
                                <div
                                  class="row justify-content-md-center"
                                  align="center"
                                >
                                  <img
                                    class="img-thumbnail"
                                    src="../../../../../../assets/img/BG-WEB-Gray.jpg"
                                    style="height: 350px; width: 500px"
                                    *ngIf="previewLoaded == false; hidden"
                                  />
                                  <div
                                    class="bgGray"
                                    *ngIf="previewLoaded == true; hidden"
                                  >
                                    <img
                                      *ngIf="previewLoaded"
                                      class="img-thumbnail mx-auto d-block"
                                      [src]="fileS"
                                      style="height: 350px; width: auto"
                                    />
                                  </div>
                                  <div class="radius elevation-1">
                                    เพิ่มรูปภาพผลงาน
                                  </div>
                                </div>
                              </div>

                              <div className="imageupload">
                                <input
                                  formControlName="file"
                                  id="file"
                                  type="file"
                                  class="form-control"
                                  multiple=""
                                  (change)="onFileChange($event)"
                                />
                              </div>
                            </label>
                          </div>
                          <!-- <input
                            formControlName="file"
                            id="file"
                            type="file"
                            class="form-control"
                            multiple=""
                            (change)="onFileChange($event)"
                          /> -->
                          <div
                            *ngIf="f['file'].touched && f['file'].invalid"
                            class="alert alert-danger"
                          >
                            <div
                              *ngIf="
                                f['file'].errors && f['file'].errors['required']
                              "
                            >
                              File is required.
                            </div>
                          </div>
                        </div>

                        <img
                          *ngFor="let url of images"
                          [src]="url"
                          height="100px"
                          width="110px"
                          style="margin: 3px"
                        />
                        <br />
                        <button (click)="submitt()">กด</button>
                        <div class="col-md-12 bg-light">
                          <div
                            *ngIf="infoImgAbout"
                            class="row justify-content-md-center"
                            align="center"
                          >
                            <div class="row">
                              <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                  <label>
                                    <img
                                      src="http://157.245.203.125:8000/static/aboutUs/{{
                                        infoImgAbout[0].image_name
                                      }}"
                                      class="ImgAbout"
                                      *ngIf="previewLoaded == false; hidden"
                                    />
                                    <div
                                      class="bgGray"
                                      *ngIf="previewLoaded == true; hidden"
                                    >
                                      <img
                                        *ngIf="previewLoaded"
                                        [src]="fileS"
                                        class="ImgAbout"
                                      />
                                      <input
                                        (change)="onChangePhoto($event)"
                                        type="file"
                                        hidden
                                      />
                                    </div>
                                    <input
                                      (change)="onChangePhoto($event)"
                                      type="file"
                                      hidden
                                    />
                                  </label>
                                  <div class="DelAboutImg elevation-1">
                                    ลบรูปภาพ
                                  </div>
                                </div>
                                <div class="col-md-1"></div>
                              </div>
                              <div class="col-md-12"><br /></div>
                              <div class="col-md-4">
                                <label>
                                  <img
                                    src="{{AboutUsURL}}{{
                                      infoImgAbout[1].image_name
                                    }}"
                                    class="ImgAbout1"
                                    *ngIf="previewLoaded == false; hidden"
                                  />
                                  <div
                                    class="bgGray"
                                    *ngIf="previewLoaded == true; hidden"
                                  >
                                    <img
                                      *ngIf="previewLoaded"
                                      [src]="fileS"
                                      class="ImgAbout1"
                                    />
                                    <input
                                      (change)="onChangePhoto($event)"
                                      type="file"
                                      hidden
                                    />
                                  </div>
                                  <input
                                    (change)="onChangePhoto($event)"
                                    type="file"
                                    hidden
                                  />
                                </label>
                                <div class="DelAboutImg1 elevation-1">
                                  ลบรูปภาพ
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  <img
                                    src="http://157.245.203.125:8000/static/aboutUs/{{
                                      infoImgAbout[2].image_name
                                    }}"
                                    class="ImgAbout1"
                                    *ngIf="previewLoaded == false; hidden"
                                  />
                                  <div
                                    class="bgGray"
                                    *ngIf="previewLoaded == true; hidden"
                                  >
                                    <img
                                      *ngIf="previewLoaded"
                                      [src]="fileS"
                                      class="ImgAbout1"
                                    />
                                    <input
                                      (change)="onChangePhoto($event)"
                                      type="file"
                                      hidden
                                    />
                                  </div>
                                  <input
                                    (change)="onChangePhoto($event)"
                                    type="file"
                                    hidden
                                  />
                                </label>
                                <div class="DelAboutImg1 elevation-1">
                                  ลบรูปภาพ
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  <img
                                    src="http://157.245.203.125:8000/static/aboutUs/{{
                                      infoImgAbout[3].image_name
                                    }}"
                                    class="ImgAbout1"
                                    *ngIf="previewLoaded == false; hidden"
                                  />
                                  <div
                                    class="bgGray"
                                    *ngIf="previewLoaded == true; hidden"
                                  >
                                    <img
                                      *ngIf="previewLoaded"
                                      [src]="fileS"
                                      class="ImgAbout1"
                                    />
                                    <input
                                      (change)="onChangePhoto($event)"
                                      type="file"
                                      hidden
                                    />
                                  </div>
                                  <input
                                    (change)="onChangePhoto($event)"
                                    type="file"
                                    hidden
                                  />
                                </label>
                                <div class="DelAboutImg1 elevation-1">
                                  ลบรูปภาพ
                                </div>
                              </div>
                              <div class="col-md-12"><br /></div>
                              <div class="col-md-4">
                                <label>
                                  <img
                                    src="http://157.245.203.125:8000/static/aboutUs/{{
                                      infoImgAbout[4].image_name
                                    }}"
                                    class="ImgAbout1"
                                    *ngIf="previewLoaded == false; hidden"
                                  />
                                  <div
                                    class="bgGray"
                                    *ngIf="previewLoaded == true; hidden"
                                  >
                                    <img
                                      *ngIf="previewLoaded"
                                      [src]="fileS"
                                      class="ImgAbout1"
                                    />
                                    <input
                                      (change)="onChangePhoto($event)"
                                      type="file"
                                      hidden
                                    />
                                  </div>
                                  <input
                                    (change)="onChangePhoto($event)"
                                    type="file"
                                    hidden
                                  />
                                </label>
                                <div class="DelAboutImg1 elevation-1">
                                  ลบรูปภาพ
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  <img
                                    src="http://157.245.203.125:8000/static/aboutUs/{{
                                      infoImgAbout[5].image_name
                                    }}"
                                    class="ImgAbout1"
                                    *ngIf="previewLoaded == false; hidden"
                                  />
                                  <div
                                    class="bgGray"
                                    *ngIf="previewLoaded == true; hidden"
                                  >
                                    <img
                                      *ngIf="previewLoaded"
                                      [src]="fileS"
                                      class="ImgAbout1"
                                    />
                                    <input
                                      (change)="onChangePhoto($event)"
                                      type="file"
                                      hidden
                                    />
                                  </div>
                                  <input
                                    (change)="onChangePhoto($event)"
                                    type="file"
                                    hidden
                                  />
                                </label>
                                <div class="DelAboutImg1 elevation-1">
                                  ลบรูปภาพ
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label>
                                  <img
                                    src="http://157.245.203.125:8000/static/aboutUs/{{
                                      infoImgAbout[6].image_name
                                    }}"
                                    class="ImgAbout1"
                                    *ngIf="previewLoaded == false; hidden"
                                  />
                                  <div
                                    class="bgGray"
                                    *ngIf="previewLoaded == true; hidden"
                                  >
                                    <img
                                      *ngIf="previewLoaded"
                                      [src]="fileS"
                                      class="ImgAbout1"
                                    />
                                    <input
                                      (change)="onChangePhoto($event)"
                                      type="file"
                                      hidden
                                    />
                                  </div>
                                  <input
                                    (change)="onChangePhoto($event)"
                                    type="file"
                                    hidden
                                  />
                                </label>
                                <div class="DelAboutImg1 elevation-1">
                                  ลบรูปภาพ
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-6">
                      <form [formGroup]="aboutUsForm">
                        <div class="mb-3">
                          <label>ชื่อหลัก</label>
                          <input
                            type="text"
                            aria-label="First name"
                            class="form-control"
                            formControlName="enterprise_name"
                            [ngClass]="{
                              'is-invalid':
                                submit && a['enterprise_name'].errors
                            }"
                          />
                        </div>
                        <div class="mb-3">
                          <label>ชื่อรอง</label>
                          <input
                            type="text"
                            aria-label="First name"
                            class="form-control"
                            formControlName="enterprise_surname"
                            [ngClass]="{
                              'is-invalid':
                                submit && a['enterprise_surname'].errors
                            }"
                          />
                        </div>
                        <div class="mb-3">
                          <label>คำอธิบาย</label>
                          <textarea
                            class="form-control"
                            formControlName="enterprise_detail"
                            [ngClass]="{
                              'is-invalid':
                                submit && a['enterprise_detail'].errors
                            }"
                            placeholder=""
                            id="floatingTextarea2"
                            style="height: 200px"
                          ></textarea>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col align-self-end" align="right">
                              <br /><br />
                              <button
                                type="button"
                                class="btn btn-light"
                                (click)="resetFrom()"
                              >
                                คืนค่า
                              </button>
                              &nbsp; &nbsp; &nbsp;
                              <button
                                type="button"
                                class="btn btn-warning"
                                (click)="createAboutUs()"
                              >
                                บันทึก
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title textHead">แก้ไขข้อมูลสมาชิก</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="ngOnInit()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="form-group">
            <label for="inputName">ชื่อหลัก</label>
            <input type="text" id="inputName" class="form-control" value="" />
          </div>
          <div class="form-group">
            <label for="inputName">ชื่อรอง</label>
            <input type="text" id="inputName" class="form-control" value="" />
          </div>
          <div class="form-group">
            <label for="inputDescription">คำอธิบาย</label>
            <textarea
              id="inputDescription"
              class="form-control"
              rows="4"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="ngOnInit()"
        >
          Close
        </button>
        <input
          class="btn padding3 btn-light elevation-3"
          type="submit"
          value="Submit"
        />
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-editImg">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title textHead">แก้ไขรูปภาพ</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="ngOnInit()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label texxx111xx">รูปภาพผลงาน</label>
                    <input class="form-control" type="file" />
                  </div>
                  <div class="mb-3">
                    <label>ชื่อภาพ</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First name"
                      aria-label="First name"
                      formControlName="employee_firstname"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col bg-warning border">
                        <br /><br /><br /><br /><br /><br /><br /><br /><br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="ngOnInit()"
        >
          Close
        </button>
        <input
          class="btn padding3 btn-light elevation-3"
          type="submit"
          value="Submit"
        />
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
