<app-content>
  <div class="relative">
    <div class="sizeeeee"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        <br />
        <h4 class="textHeadPage"><b>บัญชีหลังบ้าน</b></h4>
        <h6 class="textHeadPage">บัญชีหลังบ้าน > แก้ไขข้อมูลบัญชีหลังบ้าน</h6>
      </div>
      <div class="col align-self-center"></div>
      <div class="col align-self-end" align="right"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 align-self-center">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <form [formGroup]="accountForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>ชื่อผู้ใช้งาน</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="Uadmin_username"
                          [ngClass]="{
                            'is-invalid': submit && a['Uadmin_username'].errors
                          }"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>รหัสผ่านเข้าใช้งาน</label>
                        <input
                          type="password"
                          class="form-control"
                          formControlName="Uadmin_password"
                          [ngClass]="{
                            'is-invalid': submit && a['Uadmin_password'].errors
                          }"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>สิทธิ์การเข้าถึง</label>
                        <select 
                        *ngIf="roleName !== 'Editor'; hidden"
                          class="form-select"
                          formControlName="role_id"
                          [ngClass]="{
                            'is-invalid': submit && a['role_id'].errors
                          }"
                        >
                          <option
                            *ngFor="let item of infoRole; let i = index"
                            value="{{ item.id }}"
                          >
                            {{ item.role_name }}
                          </option>
                        </select>
                        <fieldset disabled>
                          <div class="form-group">
                            <select
                            *ngIf="roleName !== 'Admin'; hidden"
                              class="form-select"
                              formControlName="role_id"
                              [ngClass]="{
                                'is-invalid': submit && a['role_id'].errors
                              }"
                            >
                              <option
                                *ngFor="let item of infoRole; let i = index"
                                value="{{ item.id }}"
                              >
                                {{ item.role_name }}
                              </option>
                            </select>
                          </div>
                        </fieldset>
                        
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>ยืนยันรหัสผ่านเข้าใช้งาน</label>
                        <input
                          type="password"
                          aria-label="First name"
                          class="form-control"
                          formControlName="Con_Uadmin_password"
                          [ngClass]="{
                            'is-invalid':
                              submit && a['Con_Uadmin_password'].errors
                          }"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>ชื่อจริง</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="Uadmin_firstname"
                          [ngClass]="{
                            'is-invalid': submit && a['Uadmin_firstname'].errors
                          }"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>นามสกุล</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="Uadmin_lastname"
                          [ngClass]="{
                            'is-invalid': submit && a['Uadmin_lastname'].errors
                          }"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <br /><br />
                      <div class="row">
                        <div class="col-md-8">
                          <button
                            *ngIf="roleName !== 'Editor'; hidden"
                            type="button"
                            class="btn btn-danger widthButtonAdd elevation-1"
                            (click)="openModal_DelAcc()"
                            (click)="getnameDel(infoAccountByid.data.user_id)"
                          >
                            ลบข้อมูล
                          </button>
                        </div>
                        <div class="col-md-4" align="right">
                          <button
                            type="button"
                            class="btn btn-light widthButtonAdd elevation-1"
                            data-dismiss="modal"
                            aria-label="Close"
                            (click)="ngOnInit()"
                            (click)="updateWorks()"
                          >
                            คืนค่า
                          </button>
                          &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                          &nbsp;
                          <button
                            class="btn btn-warning widthButtonAdd elevation-1"
                            (click)="openModal_EditAcc()"
                          >
                            บันทึก
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>

<div
  class="modal fade"
  id="DelAcc"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" align="center">
        <form [formGroup]="ConfirmForm">
          <button
            type="button"
            class="close"
            (click)="Close_DelAcc()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <br /><br />
          <div class="modal-body">ยืนยันรหัสผ่าน เพื่อลบข้อมูล?</div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <input
                type="password"
                class="form-control"
                formControlName="Confirm_password"
                [ngClass]="{
                  'is-invalid': submit && b['Confirm_password'].errors
                }"
              />
              <div class="invalid-feedback">รหัสผ่านไม่ถูกต้อง</div>
            </div>
            <div class="col-md-2"></div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <button
                type="button"
                class="btn btn-light widthButtonAdd elevation-1"
                (click)="Close_DelAcc()"
              >
                ยกเลิก
              </button>
            </div>
            <div class="col-md-4">
              <button
                type="button"
                class="btn btn-warning widthButtonAdd elevation-1"
                (click)="deleteAcount(infoAccountByid.user_id)"
              >
                ยืนยัน
              </button>
            </div>
            <div class="col-md-2"></div>
          </div>
          <br /><br />
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="EditAcc"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" align="center">
        <form [formGroup]="ConfirmForm">
          <button
            type="button"
            class="close"
            (click)="Close_EditAcc()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <br /><br />
          <div class="modal-body">ยืนยันรหัสผ่าน เพื่อแก้ไขข้อมูล?</div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <input
                type="password"
                class="form-control"
                formControlName="Confirm_password"
                [ngClass]="{
                  'is-invalid': submit && b['Confirm_password'].errors
                }"
              />
              <div class="invalid-feedback">รหัสผ่านไม่ถูกต้อง</div>
            </div>
            <div class="col-md-2"></div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <button
                type="button"
                class="btn btn-light widthButtonAdd elevation-1"
                (click)="Close_EditAcc()"
              >
                ยกเลิก
              </button>
            </div>
            <div class="col-md-4">
              <button
                type="button"
                class="btn btn-warning widthButtonAdd elevation-1"
                (click)="updateWorks()"
              >
                ยืนยัน
              </button>
            </div>
            <div class="col-md-2"></div>
          </div>
          <br /><br />
        </form>
      </div>
    </div>
  </div>
</div>
