  <aside class="main-sidebar sidebar-light-primary ">
    <!-- Brand Logo -->
    <div class="colorO">
      <a href="" class="pidd">
        <img
          width="80px"
          height="80px"
          src="../../../../assets/img/logo5112.png"
        />
      </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-3">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>
                เพิ่มข้อมูล
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="admin/administrator/addservice" class="nav-link">
                  <i class="fas fa-concierge-bell nav-icon"></i>
                  <p>บริการ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="admin/administrator/addwork" class="nav-link">
                  <i class="fas fa-briefcase nav-icon"></i>
                  <p>ผลงาน</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="admin/administrator/addteams" class="nav-link">
                  <i class="fas fa-users nav-icon"></i>
                  <p>ทีมของเรา</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-info"></i>
              <p>
                ข้อมูล
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="admin/administrator/listservices" class="nav-link">
                  <i class="fas fa-concierge-bell nav-icon"></i>
                  <p>บริการ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="admin/administrator/listworks" class="nav-link">
                  <i class="fas fa-briefcase nav-icon"></i>
                  <p>ผลงาน</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="admin/administrator/listteams" class="nav-link">
                  <i class="fas fa-users nav-icon"></i>
                  <p>ทีมของเรา</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

