<app-content>
  <div class="relative">
    <div class="sizeeeee"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        <br />
        <h4 class="textHeadPage"><b>ผลงาน</b></h4>
        <h6 class="textHeadPage">ผลงาน > แก้ไขข้อมูลผลงาน</h6>
      </div>
      <div class="col align-self-center"></div>
      <div class="col align-self-end" align="right"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 align-self-center">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <form [formGroup]="worksForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-label">รูปบริการ</label>
                      <div class="mb-3">
                        <label>
                          <div class="container">
                            <div
                              class="row justify-content-md-center"
                              align="center"
                            >
                              <div class="bgGray">
                                <img
                                  src="{{WorkURL}}{{
                                      info.data.goal_img
                                  }}"
                                  *ngIf="previewLoaded == false; hidden"
                                  style="height: 350px; width: auto"
                                />
                                <img
                                  *ngIf="previewLoaded"
                                  class="img-thumbnail mx-auto d-block"
                                  [src]="file"
                                  style="height: 350px; width: auto"
                                />
                              </div>
                              <div class="radius elevation-1">
                                แก้ไขรูปภาพผลงาน
                              </div>
                            </div>
                          </div>
                          <div className="imageupload">
                            <input
                              type="file"
                              (change)="onChangePhoto($event)"
                              name="imageupload"
                              id="fileUpload"
                              multiple
                              hidden
                              [ngClass]="{
                                'is-invalid': submit && a['goal_img'].errors
                              }"
                            />
                          </div>
                        </label>
                      </div>
                      <div class="col-md-12">
                        <div class="row"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>ชื่อผลงาน</label>
                        <input
                          type="text"
                          aria-label="First name"
                          class="form-control"
                          formControlName="goal_title"
                          value="{{ info.data.goal_title }}"
                          [ngClass]="{
                            'is-invalid': submit && a['goal_title'].errors
                          }"
                        />
                      </div>
                      <div class="mb-3">
                        <label>คำอธิบาย</label>
                        <textarea
                          class="form-control"
                          placeholder="Leave a comment here"
                          id="floatingTextarea2"
                          style="height: 125px"
                          formControlName="goal_detail"
                          value="{{ info.data.goal_detail }}"
                          [ngClass]="{
                            'is-invalid': submit && a['goal_detail'].errors
                          }"
                        ></textarea>
                      </div>
                      <div class="mb-3">
                        <label>ประเภทบริการ</label>
                        <select
                          class="form-select"
                          formControlName="service_id"
                          [ngClass]="{
                            'is-invalid': submit && a['service_id'].errors
                          }"
                        >
                          <option
                            *ngFor="let item of infoServ; let i = index"
                            value="{{ item.id }}"
                          >
                            {{ item.service_name }}
                          </option>
                        </select>
                      </div>
                      <br />
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4">
                            <button
                              type="button"
                              class="btn btn-danger widthButtonAdd elevation-1"
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                              (click)="getnameDel(info.data.goal_id)"
                            >
                              ลบข้อมูล
                            </button>
                          </div>
                          <div class="col-md-8" align="right">
                            <button
                              type="button"
                              class="btn btn-light widthButtonAdd elevation-1"
                              data-dismiss="modal"
                              aria-label="Close"
                              (click)="ngOnInit()"
                            >
                              คืนค่า</button
                            >&nbsp; &nbsp; &nbsp;
                            <button
                              class="btn btn-warning widthButtonAdd elevation-1"
                              type="submit"
                              value="Submit"
                              (click)="updateWorks()"
                            >
                              บันทึก
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" align="center">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="ngOnInit()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <br /><br />
        <div class="modal-body" *ngIf="info">
          คุณต้องการลบข้อมูล <b>{{ info.data.goal_title }} </b>หรือไม่?
        </div>
        <br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-light widthButtonAdd elevation-1"
              data-bs-dismiss="modal"
            >
              ยกเลิก
            </button>
          </div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-warning widthButtonAdd elevation-1"
              (click)="deleteWorks(info.goal_id)"
              data-bs-dismiss="modal"
            >
              ยืนยัน
            </button>
          </div>
          <div class="col-md-2"></div>
        </div>
        <br /><br />
      </div>
    </div>
  </div>
</div>
