<div class="container  layout " align="center">
    <div class="row-md-12 ">
      <div class="col-md-9 padding2"><h1 class="textHead">ทีมของเรา</h1></div>
      <div class="col-md-9">
        <div class="col-md-12">
          <div class="row padding1">
            <div class="col-md-2">
                <span class="input-group-text">ชื่อ - นามสกุล</span>
            </div>
            <div class="col-md-7 ">                
                <input type="text" aria-label="First name" class="form-control">
                <input type="text" aria-label="Last name" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row padding1">
            <div class="col-md-2">
              <span class="input-group-text texxxxx">รายละเอียดบริการ</span>
            </div>
            <div class="col-md-7 ">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="4"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row padding1">
            <div class="col-md-2"></div>
            <div class="col-md-7">
              <input class="form-control" type="file" id="formFile" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="row padding2">
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <input class="btn padding3 btn-light elevation-3" type="submit" value="Submit">
            
            <input class="btn padding4 btn-light elevation-3" type="reset" value="Reset">
          </div>
        </div>
      </div>
    </div>
  </div>