<app-content>
  <div class="container layout" align="center">
    <div class="row-md-12">
      <div class="col-md-9 padding2"><h1 class="textHead">ทีมของเรา</h1></div>
      <div class="col-md-9">
        <form [formGroup]="teamsForm">
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2">
                <span class="input-group-text">ชื่อ - นามสกุล</span>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First name"
                      aria-label="First name"
                      formControlName="employee_firstname"
                    />
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last name"
                      aria-label="Last name"
                      formControlName="employee_lastname"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingSelect"
                    aria-label="Floating label select example"
                    formControlName="employee_mbti"
                  >
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <label for="floatingSelect">MBTI</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingSelect"
                    aria-label="Floating label select example"
                    formControlName="employee_position"
                  >
                    <option selected>เลือกตำแหน่ง</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <label for="floatingSelect">ตำแหน่ง</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="contact"
                    formControlName="employee_contact"
                  />
                  <label for="floatingInput">Quote</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <label for="formFile" class="form-label texxx111xx"
                  >รูปทีมงาน</label
                >
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  (change)="onChangePhoto($event)"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7 bg">
              <img *ngIf="previewLoaded" class="img-thumbnail" [src]="file" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row padding2">
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <input
              class="btn padding3 btn-light elevation-3"
              type="submit"
              value="Submit"
              (click)="addTeams()"
            />

            <input
              class="btn padding4 btn-light elevation-3"
              type="reset"
              value="Reset"
              (click)="resetFrom()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
