<div class="container layout" align="center">
  <div class="row-md-12">
    <div class="col-md-9 padding2"><h1 class="textHead">บริการ</h1></div>
    <div class="col-md-9">
      <form [formGroup]="serviceForm">
        <div class="col-md-12">
          <div class="row padding1">
            <div class="col-md-2">
              <span class="input-group-text texxxxx">ชื่อบริการ</span>
            </div>
            <div class="col-md-7">
              <input
                type="text"
                aria-label="First name"
                class="form-control"
                formControlName="name_service"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row padding1">
            <div class="col-md-2">
              <span class="input-group-text texxxxx">รายละเอียดบริการ</span>
            </div>
            <div class="col-md-7">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="4"
                formControlName="detail_service"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row padding1">
            <div class="col-md-2">
            </div>
            <div class="col-md-7">
              <input
                class="form-control"
                type="file"
                id="formFile"
                formControlName="images"
                (change)="onChangePhoto($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-7 bg">
                <img
                  *ngIf="previewLoaded"
                  class="img-thumbnail autoHight"
                  [src]="this.serviceForm.value.img_servie"
                />
              </div>
            </div>
          </div>
      </form>
    </div>
    
    <div class="col-md-12">
      <div class="row padding2">
        <div class="col-md-4"></div>
        <div class="col-md-6">
          <input
            class="btn padding3 btn-light elevation-3"
            type="submit"
            value="Submit"
            (click)="addService()"
          />

          <input
            class="btn padding4 btn-light elevation-3"
            type="reset"
            value="Reset"
            (click)="resetFrom()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
