<app-content>
  <div class="container layout" align="center">
    <div class="row-md-12">
      <div class="col-md-9 padding2"><h1 class="textHead">ผลงาน</h1></div>
      <div class="col-md-9">
        <form [formGroup]="worksForm">
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2">
                <span class="input-group-text texxxxx">ชื่อผลงาน</span>
              </div>
              <div class="col-md-7">
                <input
                  type="text"
                  aria-label="First name"
                  class="form-control"
                  formControlName="goal_title"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <div class="form-floating">
                  <select class="form-select" formControlName="service_id">
                    <option
                      *ngFor="let item of info; let i = index"
                      value="{{ item.id }}"
                    >
                      {{ item.service_name }}
                    </option>
                  </select>
                  <label for="floatingSelect">ประเภทบริการ</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    style="height: 100px"
                    formControlName="goal_detail"
                  ></textarea>
                  <label for="floatingTextarea2">รายละเอียดผลงาน</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row padding1">
              <div class="col-md-2"></div>
              <div class="col-md-7">
                <label for="formFile" class="form-label texxx111xx"
                  >รูปผลงาน</label
                >
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  (change)="onChangePhoto($event)"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7 bg">
              <img *ngIf="previewLoaded" class="img-thumbnail" [src]="file" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row padding2">
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <input
              class="btn padding3 btn-light elevation-3"
              type="submit"
              value="Submit"
              (click)="addWorks()"
            />

            <input
              class="btn padding4 btn-light elevation-3"
              type="reset"
              value="Reset"
              (click)="resetFrom()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
